# gedit
*~

# eclipse
.settings

# pycharm
.idea
*.iml
.python-version

# vscode
.vscode

*.py[cod]

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# tmp files
.~*

flask
config.py
configs/production.py
logfile.log
log.txt
pdns.db
idp.crt
*.bak
db_repository/*
tmp/*

node_modules
powerdnsadmin/static/generated
.webassets-cache
.venv*
.pytest_cache

.env.pdns
.env.pdnsadmin
